<html class="no-js"><!--<![endif]--><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{share.metaTitle}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <meta property="fb:page_id" content="162508655002" />
        <meta name="fragment" content="!">
        <link rel="shortcut icon" href="http://www.bt.no//skins/publications/bt/gfx/icons/favicon.ico">
        <link rel="apple-touch-icon" href="http://www.bt.no//skins/publications/bt/gfx/icons/apple-touch-icon_57x57.png">
        <link rel="apple-touch-icon" href="http://www.bt.no//skins/publications/bt/gfx/icons/apple-touch-icon_114x114.png" sizes="114x114">
        <!-- <script src="bower_components/modernizr/modernizr.js"></script>-->
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="btno">
    <meta name="twitter:title" content="{{share.metaTitle}}">
    <meta name="twitter:description" content="{{share.metaDescription}}">
    <meta name="twitter:creator" content="btno">
    <!-- Twitter Summary card images must be at least 200x200px -->
    <meta name="twitter:image" content="{{share.metaImage}}">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{share.metaTitle}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{share.metaUrl|raw}}">
    <meta property="og:image" content="{{share.metaImage}}">
    <meta property="og:description" content="{{share.metaDescription}}">
    <meta property="og:site_name" content="Bergens Tidende">


</head>
<body>

    <h1>{{share.metaTitle}}</h1>
    <img src="{{share.metaImage}}" width="980">
    <p>{{share.metaDescription}}</p>

</body></html>
